@using WebUI.Areas.Admin.Models
@model CategoryWithProductsVm

<h3 class="text-light">@Model.Category.CategoryId - @Model.Category.Name</h3>

<p class="text-light">Список товаров данной категории</p>
@if(Model.Products.Count() == 0)
{
    <p class="text-light">Список пуст</p>
}
else
{
    <ol class="list-group list-group-numbered w-50">
        @foreach(var prod in Model.Products)
        {
            <li class="list-group-item text-light" style="background-color: rgb(80, 80, 90);"><a asp-controller="Product" asp-action="Details" asp-route-id="@prod.ProductId" class="text-info">@prod.Name</a></li>
        }
    </ol>
}
<a href="@ViewData["referer"]" class="btn btn-lg btn-outline-success mt-2">Назад</a>