@using Domain.Entities
@model IEnumerable<Category>

<h3 class="text-light">Список категорий</h3>
<table class="table table-stripe table-dark w-50">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    <tdbody>
    @foreach(var cat in Model)
    {
        <tr>
            <td class="text-info">@cat.CategoryId</td>
            <td><a asp-controller="Category" asp-action="Details" asp-route-id="@cat.CategoryId" class="text-info">@cat.Name</a></td>
            <td><a asp-action="Edit" asp-route-id="@cat.CategoryId" class="btn btn-sm btn-outline-warning">Редактировать</a>
            <a asp-action="Delete" asp-route-id="@cat.CategoryId" class="btn btn-sm btn-outline-danger">Удалить</a></td>
        </tr>
    }
    </tdbody>
</table>
<a asp-action="Create" class="btn btn-lg btn-outline-success">Создать категорию</a>

