@using WebUI.Models
@model CatalogProductDetailsVm

@{
    ViewData["Title"] = $"{Model.Name}";
}
<div class="container">
    <div class="col-4">
        <img src="/images/products/@Model.ImageName" alt="Изображение @Model.Name"/>
    </div>
    <div class="col-8">
        <h5>@Model.Name</h5>
        <ul>
            <li>Категория: @Model.Category!.Name</li>
            <li>Оценка:
                @if(@Model.Comments.Count == 0)
                {
                    <span>Оценок нет</span>
                }
                else
                {
                    @Model.CalculateRating()
                }</li>
            <li>Количество покупок: @Model.NumberOfOrder</li>
            <li>Описание: @Model.Description</li>
            <li>Цена: @($"{Model.Price:C}")</li>
            <li>Информация о наличии:  
                @if (@Model.Stock > 0)
                {
                    <span>Доступно @Model.Stock шт.</span>
                    
                }
                else
                {
                    <span>Нет в наличии.</span>
                }</li>
            <li>@using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                        {
                            <input type="number" name="id" value="@Model.Id" hidden>
                            <input type="number" name="amount" min="1", max="100" size="5" step="1" value="1">
                            <input type="submit" value="В корзину" class="btn btn-primary btn-sm rounded-bottom">
                        }</li>
        </ul>
    </div>

    <div>
        @foreach(var com in @Model.Comments)
        {
            <div class="border">
                <p>@com.Username</p>
                <p>@com.Rating</p>
                <p>Дата написания: @com.CreatedAt</p>
                <p>@com.Text</p>
            </div>
        }
    </div>

    <div>
        <h6>Оставить отзыв</h6>
        @using (Html.BeginForm("AddComment", "Comment", FormMethod.Get))
        {
            <input name="id" type="number" value="@Model.Id" hidden />
            <p><input name="name" type="text" placeholder="Ваше имя" required /></p>
            <p><textarea name="text" maxlength="255" placeholder="Ваш текст(макс. 255 символов)" cols="50" rows="5" required></textarea></p>
            <label>Оценка</label>
            <p><input name="rating" type="radio" value="1">1
            <input name="rating" type="radio" value="2">2
            <input name="rating" type="radio" value="3">3
            <input name="rating" type="radio" value="4">4
            <input name="rating" type="radio" value="5" checked>5</p>
           <input type="submit" value="Оставить отзыв" />
        }
    </div>
</div>