@using WebUI.Areas.Admin.Models
@model OrderDetailVm

@{
    var timesOfDay = new List<string>{"9:00 - 12:00", "12:00 - 17:00", "17:00 - 21:00"};
    ViewBag.timesOfDay = new SelectList(timesOfDay);
}
<h3>Заказ номер @Model.OrderId</h3>

<h4>Информация о покупателе</h4>
<b>Имя</b><br />
<a asp-controller="Customer" asp-action="Details" asp-route-customerId="@Model.Customer.CustomerId">@Model.Customer.Name</a><br />
<b>Адрес электронной почты</b><br />
@Model.Customer.Email

<h4>Информация о заказе</h4>
@Model.DeliveryDate.Date @Model.DeliveryTime<br />
<b>Оплачен</b><br />
@(Model.IsPaid ? "Да" : "Нет")<br/>
<b>Доставлен</b><br />
@(Model.IsDelivered ? "Да" : "Нет")<br/>
<b>Итоговая стоимость</b><br />
@($"{Model.TotalPrice:C}")<br />
<b>Комментарий к заказу</b><br />
@Model.Commentary<br />

<h4>Перенести доставку</h4>
<form asp-action="Edit" method="post">

    <label>Дата доставки</label><br />
    <input asp-for="DeliveryDate" type="date" min="@DateTime.Now.AddDays(3).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" required />
    <label>Время доставки</label><br />
    <select asp-for="DeliveryTime" asp-items="@ViewBag.timesOfDay" required></select>
    <label>Комментарий</label><br />
    <textarea asp-for="Commentary" maxlength="255" value=""></textarea>
    <input type="submit" value="Сохранить"/>
</form>
