@using WebUI.Models;
@model CartVm;

@{
    ViewData["Title"] = "Ваша корзина";
}
@if(Model.ProductsInCarts == null || Model.ProductsInCarts.Count() == 0)
{
    <h1>Корзина пуста</h1>
}
else
{
    <table class="table table-striped table-light w-50">
        <thead class="table-primary">
            <tr>
                <th>Наименование товара</th>
                <th>Цена за штуку</th>
                <th>Количество</th>
                <th>Общая стоимость</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var prod in Model.ProductsInCarts)
            {
                <tr>
                    <td>@prod.Product.Name</td>
                    <td>@($"{(prod.Product.Price):C}")</td>
                    <td>@prod.Amount</td>
                    <td>@($"{(prod.Product.Price*prod.Amount):C}")</td>
                    <td class="d-flex"><a asp-action="Edit" asp-route-id=@prod.Id class="btn btn-sm btn-warning">Изменить количество</a>
                    <a asp-action="Delete" asp-route-id=@prod.Id class="btn btn-sm btn-danger ">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
    <b>Итого: @($"{Model.ComputePrice():C}")</b>
    <hr />
   <a asp-controller="Cart" asp-action="ClearCart" asp-route-cart="@Model.ProductsInCarts" class="btn btn-sm btn-primary text-decoration-none">Очистить корзину</a>
   <a asp-controller="Order" asp-action="Index" class="btn btn-sm btn-primary text-decoration-none">Оформить заказ</a>
}
