@using Domain.Entities
@model IEnumerable<Product>

<div class="row">
            @foreach(Product prod in Model)
            {
                <div class="card p-3 m-3" style="width: 13rem;">
                    <a asp-action="Details" asp-route-id="@prod.ProductId"><img src="/images/products/@prod.ImageName" class="card-img-top" alt="@prod.Name"></a>
                    <div class="card-body">
                    <h5 class="card-title"><a class="text-decoration-none" style="color: black;" asp-action="Details" asp-route-id="@prod.ProductId">@prod.Name</a></h5>
                    <h7>@prod.Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</h7>
                    <br>
                        @if (@prod.Stock > 0)
                        {
                            <span style="font-size: small"> Доступно @prod.Stock шт.</span>
                            <form asp-controller="Cart" asp-action="Add" method="post">
                                <input type="number" name="id" value="@prod.ProductId" hidden>
                                <input type="number" name="amount" min="1", max="100" size="5" step="1" value="1">
                                <input type="submit" value="В корзину" class="btn btn-primary btn-sm rounded-bottom">
                            </form>
                        }
                        else
                        {
                            <span style="font-size: small">Нет в наличии.</span>
                        }
                        <span style="font-size: small">Куплено: @prod.NumberOfOrders раз.</span>

                    </div>
                </div>
            }
        </div>