@using WebUI.Areas.Admin.Models
@model OrderDetailVm

<div class="text-light">
    <h3 class="text-light">Заказ номер @Model.OrderId</h3>
    
    <h4 class="text-light">Информация о покупателе</h4>
    <b>Имя</b><br />
    <a asp-controller="Customer" asp-action="Details" asp-route-customerId="@Model.Customer.CustomerId" class="text-info">@Model.Customer.Name</a><br />
    <b>Адрес электронной почты</b><br />
    @Model.Customer.Email<br />
    <b>Контактный номер телефона</b><br />
    @Model.Customer.TelephoneNumber<br />
    <b>Город</b><br />
    @Model.Customer.City<br />
    <b>Адрес доставки</b><br />
    @Model.Customer.Address<br />

    <hr />
    <h4 class="text-light">Информация о заказе</h4>
    <b>Дата заказа</b><br />
    @Model.DateOfOrder<br />
    <b>Дата доставки</b><br />
    @Model.DeliveryDate @Model.DeliveryTime<br />
    <b>Оплачен</b><br />
    @(Model.IsPaid ? "Да" : "Нет")<br/>
    <b>Доставлен</b><br />
    @(Model.IsDelivered ? "Да" : "Нет")<br/>
    <b>Итоговая стоимость</b><br />
    @($"{Model.TotalPrice:C}")<br />
    <b>Комментарий к заказу</b><br />
    @Model.Commentary<br />

    <h4 class="text-light">Список товаров в заказе</h4>
    <table class="table table-striped table-dark w-50">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена за шутку</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var prod in Model.Products)
            {
                <tr>
                    <td><a asp-controller="Product" asp-action="Details" asp-route-id="@prod.ProductId" class="text-info">@prod.Product.Name</a></td>
                    <td>@($"{prod.Product.Price:C}")</td>
                    <td>@prod.Amount</td>
                    <td>@($"{(prod.Amount * prod.Product.Price):C}")</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@ViewData["referer"]" class="btn btn-lg btn-outline-success mt-2">Назад</a>
</div>
