@using Domain.Entities
@model IEnumerable<Order>

<h3 class="text-light">Список заказов</h3>

<table class="table table-stripe table-dark">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Покупатель</th>
            <th>Дата заказа</th>
            <th>Дата доставки</th>
            <th>Интервал доставка</th>
            <th>Комментарий к заказу</th>
            <th>Оплачен</th>
            <th>Доставлен</th>
            <th>Количество товаров</th>
            <th>Сумма к оплате</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td><a asp-controller="Customer" asp-action="Details" asp-route-customerId="@order.Customer.CustomerId" class="text-info">@order.Customer.Email</a></td>
                <td>@order.DateOfOrder.ToString("dd.MM.yyyy")</td>
                <td>@order.DeliveryDate.ToString("dd.MM.yyyy")</td>
                <td>@order.DeliveryTime</td>
                <td>@order.IsPaid</td>
                <td>@order.IsDelivered</td>
                <td>@order.Products.Count</td>
                <td>@($"{order.TotalPrice:C}")</td>
                <td class="d-flex"><a asp-action="Details" asp-route-orderId="@order.OrderId" class="btn btn-sm btn-outline-info">Подробнее</a>
                <a asp-action="Edit" asp-route-orderId="@order.OrderId" class="btn btn-sm btn-outline-warning">Редактировать</a></td>
            </tr>
        }
    </tbody>
</table>
