@using WebUI.Models
@using Domain.Entities
@model CatalogPageVm

@{
    ViewData["Title"] = "Результаты поиска";
}

<h3>Найдено @ViewBag.ResultCount товаров. Результаты поиска:</h3>
<div class="container-flex text-center col-9">
        <!--Сортировка-->
        @using(Html.BeginForm("Search", "Catalog", FormMethod.Get))
            {
                <input type="text" name="searchString" value="@ViewBag.SearchString" hidden />
                @await Html.PartialAsync("_SortMethodsInForm");
            }
         </div>
        <!--Конец сортировки-->
    <!--Список карточек товаров-->
    @await Component.InvokeAsync("ProductCards", new { products = Model.Products})
    <!--Конец списка товаров-->
<!-- Вывод страниц каталога -->
    <nav>
        <ul class="pagination">
            @if(!Model.Pvm.HasPreviousPase)
            {
            <li class="page-item disabled">
                <a class="page-link" href="#">Назад</a>
            </li>
            } 
            else
            {
            <li class="page-item">
                <a class="page-link" asp-action="Search" asp-route-searchString="@ViewBag.SearchString" asp-route-sortMethod="@ViewBag.SortMethod" asp-route-page="@(Model.Pvm.CurrentPage-1)">Назад</a>
            </li>
            }

            @for(int i = 1; i<=Model.Pvm.TotalPages; i++)
            {
                if(Model.Pvm.CurrentPage == i)
                {
                <li class="page item"><a class="page-link active" asp-action="Search" asp-route-searchString="@ViewBag.SearchString" asp-route-sortMethod="@ViewBag.SortMethod" asp-route-page="@i">@i</a></li>
                }
                else
                {
                <li class="page item"><a asp-action="Search" asp-route-searchString="@ViewBag.SearchString" asp-route-sortMethod="@ViewBag.SortMethod" asp-route-page="@i" class="page-link">@i</a></li>
                }
            }

        @if(!Model.Pvm.HasNextPage){
            <li class="page-item disabled">
                <a class="page-link" href="#">Вперёд</a>
            </li>
        } 
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Search" asp-route-searchString="@ViewBag.SearchString" asp-route-sortMethod="@ViewBag.SortMethod" asp-route-page="@(Model.Pvm.CurrentPage+1)">Вперёд</a>
            </li>
        }
        </ul>
    </nav>
<!--Конец вывода страниц-->
</div>